<!-- templates/index.html -->
{% extends "base.html" %}

{% block content %}
    <h1>{{ heading }}</h1>
    <p>{{ message }}</p>

    <ul>
        {% for item in items %}
            <li>{{ item }}</li>
        {% endfor %}
    </ul>
    <h2>Welcome to the Home Page</h2>
    <div x-data="{ open: false }">
        <button @click="open = !open">
            Toggle Content
        </button>
        <div x-show="open">
            <p>This content is toggled on and off by Alpine.js!</p>
        </div>
    </div>
{% endblock %}
